body
{
	background-image: url("17121966_10208823559209842_1511971894_o.png");
	background-size: cover;
}



.logo
{
	float:left;
}



.connexion
{
	margin-left: 1200px;
	margin-top: 10px;
}

textarea 
{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button 
{
    padding-left: 90px; 
}

label 
{
    display: inline-block;
    width: 90px;
    text-align: right;
}



.inscription 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#262126;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	margin-top: 10px;
}

.inscription:active 
{
	position:relative;
	top:1px;
}


.CCM 
{
	background-color:#358dcc;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#121012;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-top: 50px;
	margin-left: 350px;
}
.CCM:active 
{
	position:relative;
	top:1px;
}

.presentation
{
	width: 850px;
	vertical-align: middle;
	margin-left: 375px;
	font-family: "Trebuchet MS" ,Arial ,"Arial Black", Verdana, sans-serif;
	font-size: 35px;

}

.tabulation 
{
	margin-left: 50px;
}


.temps
{
	display: inline-block;
	width: 200px;
	vertical-align: bottom;
	font-family: "Trebuchet MS" ,Arial ,"Arial Black", Verdana, sans-serif;
	font-size: 20px;
	margin-left: 180px;
}

h3
{
	color: blue;
	font-family: "Trebuchet MS" ,Arial ,"Arial Black", Verdana, sans-serif;
	font-size: 25px;
	text-decoration: underline;
}

.services
{
	display: inline-block;
	width: 200px;
	vertical-align: bottom;
	font-family: "Trebuchet MS" ,Arial ,"Arial Black", Verdana, sans-serif;
	font-size: 20px;
	margin-left: 300px;
}

.argent
{
	display: inline-block;
	width: 200px;
	vertical-align: bottom;
	font-family: "Trebuchet MS" ,Arial ,"Arial Black", Verdana, sans-serif;
	font-size: 20px;
	float:right;
	margin-right: 180px;
}

.myButton {	height:100px; width:250px;	-moz-box-shadow:inset 0px 0px 27px 0px #9acc85;
	-webkit-box-shadow:inset 0px 0px 27px 0px #9acc85;
	box-shadow:inset 0px 0px 27px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:5px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:80px 60px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}



.Top
{
	text-align:center;
	margin: left;
	
}
	
