body
{
	background-image: url("17121966_10208823559209842_1511971894_o.png");
	background-size: cover;
	background-attachment: scroll;
}

	
h1
{
	color: black;
	font-size: medium;
	font-style: normal;
	text-align: justify;
	margin:auto;
}
table
{
	color:black;
    	border-collapse: collapse;
	margin:auto;
}
td
{
	background-color:white;
    	border: 1px solid black;
	text-align: center;
}
th
{
	text-align: center;
	background-color:blue;
    	border: 1px solid black;
}

footer 
{
	margin-top:80px;
	margin-bottom:50px;
}
block
{
	margin:auto;
}
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
